<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>

<project name="automator.module.tomcat_7_liferay_6_2_bundle">

	<property name="module.tc7lr62.dir" value="${automator.dir}/modules/tomcat_7_liferay_6_2_bundle" />
	
	<!-- - - - - - - - - - - - - - - - - - 
          target: module-init                      
         - - - - - - - - - - - - - - - - - -->
    <target name="module-init">
    	<property file="${module.tc7lr62.dir}/module.properties" />
    </target>
	
	<!-- ================================= 
          target: module-create-config              
         ================================= -->
    <target name="module-create-config" depends="module-init" description="Create empty properties file for this module">
    </target>

	<!-- ================================= 
          target: module-clean              
         ================================= -->
    <target name="module-clean" depends="module-init" description="Clean temporary files for the module">
    	<delete dir="${module.tomcat.build.dir}" includeemptydirs="true" />
    </target>
	
	<!-- ================================= 
          target: module-download              
         ================================= -->
    <target name="module-download-package" depends="module-init" description="Download package">
    	<delete dir="${module.tomcat.build.download}" includeemptydirs="true" />
    	<mkdir dir="${module.tomcat.build.download}" />
    	
    	<get dest="${module.tomcat.build.download}" src="${module.tomcat.download.url}" />
    </target>

	<!-- ================================= 
          target: module-prepare              
         ================================= -->
    <target name="module-prepare" depends="module-init" description="Prepare module for build">
    	<mkdir dir="${module.tomcat.build.dir}" />
    </target>
	
	<!-- ================================= 
          target: module-install              
         ================================= -->
    <target name="module-install" depends="module-init" description="Install module">
    	<unzip dest="${module.tomcat.build.dir}">
    		<fileset dir="${module.tomcat.build.download}" includes="*.zip" />
    	</unzip>
		
		<copy includeemptydirs="true" todir="${module.tomcat.build.dir}">
			<fileset dir="${module.tomcat.build.dir}" excludes="${module.tomcat.config.filelist}" />
		</copy>
		
		<copy includeemptydirs="true" todir="${module.tomcat.build.dir}">
			<filterset refid="filter.all" />
			<fileset dir="${module.tomcat.build.dir}" includes="${module.tomcat.config.filelist}" />
		</copy>
    </target>
	
	<!-- ================================= 
          target: module-show-properties              
         ================================= -->
    <target name="module-show-properties" depends="module-init" description="description">
    	<echo>Module: tomcat_7_liferay_6_2_bundle</echo>
    	<echo>===================================</echo>
        <echo>module.tomcat.version: ${module.tomcat.version}</echo>
    </target>

	
</project>